<% include ../partials/head.ejs %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<% include ../partials/header.ejs %>
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
          </div>

          <!-- Content Row -->
          <div class="row">
            
          </div>

          <!-- Content Row -->


          <!-- Content Row -->
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <% include ../partials/footer.ejs %>
      <script>

      </script>
      <script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>
</body>

</html>
