<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/png" href="../../web/img/favicon.ico"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Aitropolis - Menu App">
  <meta name="author" content="">

  <title>Aitropolis - CMS</title>

  <!-- Custom fonts for this template-->
  <link href="../../../../cms/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../../../cms/css/sb-admin-2.css" rel="stylesheet">
  <link href="../../../../cms/css/custom.css" rel="stylesheet">
 
</head>
