<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Asuman UAE</title>
  <link rel="icon" type="image/png" href="../../web/img/favicon.ico"/>
  <!-- Bootstrap core CSS -->
  <link href="../web/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
  <!-- Custom styles for this template -->
  <link href="../web/css/style.css" rel="stylesheet">

</head>

<body>

<header class="banner">
  <div class="container-fluid align-self-end nav-container">
    <nav class="navbar navbar-expand-md navbar-light mx-auto">
        <a class="navbar-brand d-md-none mr-0 w-100" href="#"><img src="../web/img/logo.svg" alt="" class="logo img-fluid"></a>
        <button class="navbar-toggler ml-auto mt-3" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>
        <div class="d-md-flex d-block w-100">
            <div class="collapse navbar-collapse mx-auto justify-content-center w-100" id="navbarNavAltMarkup">
                <div class="navbar-nav nav-fill w-100">
                    <a class="nav-item nav-link align-self-center " href="#our-story">Our Story </a>
                    <a class="nav-item nav-link align-self-center " href="/menu">Menu</a>
                    <a class="navbar-brand mx-2 d-none d-md-inline" href="#"><img src="../web/img/logo.svg" alt="" class="logo"></a>
                    <a class="nav-item nav-link align-self-center " href="#delivery">Delivery</a>
                    <a class="nav-item nav-link align-self-center " href="#contact">Contact</a>
                </div>
            </div>
        </div>
    </nav>
  </div>
</header>
<section class="about mt-5" id="our-story">
  <div class="container">
    <div class="row">
      
      <div class="col-md-7 text-right">
          <div class="d-flex justify-content-end">
              <div class="about-title p-5">To <br> Cherish <br> the little <br> but <br> precious <br> moments <br> in life</div>
                  <img src="../web/img/webp/about.webp" alt="about asuman" class="img-fluid about-img">
            </div>
      </div>

      <div class="col-md-5">
         <p class="about-par p-5">
            Asuman is the address of those feelings we’ve been missing. <br><br>
            Of those who keep saying “Where are the good old fests?”, who misses old days neighbourhood relations, who longs for friendly chats and sometimes of those who just wants to say “Hi” while passing by. <br> <br>
            Who knows, maybe one day you can listen our stories about this shop from us, while drinking a cup of coffee. Or maybe we’ll share them with you in a book one day with our humble intents.   
         </p>
      </div>

    </div>
  </div>
</section>

<section class="menu" id="menu">
  <div class="container">
    <div class="menu-items d-none d-md-block d-lg-block">
      <div class="row">
        <div class="col-md-5 d-flex align-items-center justify-content-end">
          <a class="d-flex menu-title p-2" href="/menu/5ed8a0b6d3dae32ef57a0953">Taste WITH CHOCOLATE</a>
        </div>
      <div class="col-md-7">
          <a href="/menu/5ed8a0b6d3dae32ef57a0953">
              <img src="../web/img/webp/menu-1.webp" alt="" class="img-fluid">
            </a>
      </div>
    </div>
      <div class="row">
      <div class="col-md-7">
          <a href="/menu/5ed892418c69282f48c64342">
              <img src="../web/img/webp/menu-2.webp" alt="" class="img-fluid">
            </a>
        </div>
      <div class="col-md-5 d-flex align-items-center justify-content-start">
          <a class="d-flex menu-title p-2" href="/menu/5ed892418c69282f48c64342">ROCHES</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 d-flex align-items-center justify-content-end">
          <a class="d-flex menu-title p-2" href="/menu/5ed8a076ed3f4b2f3ba6e720">PRALINES & TRUFFELS</a>
        </div>
        <div class="col-md-7">
            <a href="/menu/5ed8a076ed3f4b2f3ba6e720">
                <img src="../web/img/webp/menu-3.webp" alt="" class="img-fluid">
              </a>
        </div>
      </div>
        <div class="row">
        <div class="col-md-7">
            <a href="/menu/5ed8a040fb4ad52e2fe2045a">
                <img src="../web/img/webp/menu-4.webp" alt="" class="img-fluid">
              </a>
          </div>
        <div class="col-md-5 d-flex align-items-center justify-content-start">
            <a class="d-flex menu-title p-2" href="/menu/5ed8a040fb4ad52e2fe2045a">CHOCOLATE TABLETS & PIECES</a>
          </div>
      </div>
      <div class="row">
          <div class="col-md-5 d-flex align-items-center justify-content-end">
            <a class="d-flex menu-title p-2" href="#">BISCUITS</a>
          </div>
          <div class="col-md-7">
            <a href="#">
              <img src="../web/img/webp/menu-5.webp" alt="" class="img-fluid">
            </a>
          </div>
        </div>
          <div class="row">
          <div class="col-md-7">
              <a href="#">
                  <img src="../web/img/webp/menu-6.webp" alt="" class="img-fluid">
                </a>
            </div>
          <div class="col-md-5 d-flex align-items-center justify-content-start">
              <a class="d-flex menu-title p-2" href="#">COOKIES</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 d-flex align-items-center justify-content-end">
              <a class="d-flex menu-title p-2" href="#">HAZELNUT CREAM OF COCOA</a>
            </div>
            <div class="col-md-7">
                <a href="#">
                    <img src="../web/img/webp/menu-7.webp" alt="" class="img-fluid">
                  </a>
            </div>
          </div>
            <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img src="../web/img/webp/menu-8.webp" alt="" class="img-fluid">
                  </a>
              </div>
            <div class="col-md-5 d-flex align-items-center justify-content-start">
                <a class="d-flex menu-title p-2" href="#">TASTES OF STORES</a>
              </div>
          </div>
        </div>
    
    
      <div class="menu-items d-md-none dd-lg-none">
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center justify-content-end">
            <a class="d-flex menu-title p-2 text-right" href="/menu/5ed8a0b6d3dae32ef57a0953">Taste WITH CHOCOLATE</a>
          </div>
          <div class="menu-img">
              <a href="/menu/5ed8a0b6d3dae32ef57a0953">
                  <img src="../web/img/webp/mob/menu-1.webp" alt="" class="img-fluid">
                </a>
          </div>
        </div>
          <div class="d-flex justify-content-between">
          <div class="menu-img">
              <a href="/menu/5ed892418c69282f48c64342">
                  <img src="../web/img/webp/mob/menu-2.webp" alt="" class="img-fluid">
                </a>
            </div>
          <div class="d-flex align-items-center justify-content-start">
              <a class="d-flex menu-title p-2" href="/menu/5ed892418c69282f48c64342">ROCHES</a>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center justify-content-end">
              <a class="d-flex menu-title p-2" href="/menu/5ed8a076ed3f4b2f3ba6e720">PRALINES & TRUFFELS</a>
            </div>
            <div class="menu-img">
                <a href="/menu/5ed8a076ed3f4b2f3ba6e720">
                    <img src="../web/img/webp/mob/menu-3.webp" alt="" class="img-fluid">
                  </a>
            </div>
          </div>
            <div class="d-flex justify-content-between">
            <div class="menu-img">
                <a href="/menu/5ed8a040fb4ad52e2fe2045a">
                    <img src="../web/img/webp/mob/menu-4.webp" alt="" class="img-fluid">
                  </a>
              </div>
            <div class="d-flex align-items-center justify-content-start">
                <a class="d-flex menu-title p-2" href="/menu/5ed8a040fb4ad52e2fe2045a">CHOCOLATE TABLETS & PIECES</a>
              </div>
          </div>
          <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center justify-content-end">
                <a class="d-flex menu-title p-2" href="#">BISCUITS</a>
              </div>
              <div class="menu-img">
                <a href="#">
                  <img src="../web/img/webp/mob/menu-5.webp" alt="" class="img-fluid">
                </a>
              </div>
            </div>
              <div class="d-flex justify-content-between">
              <div class="menu-img">
                  <a href="#">
                      <img src="../web/img/webp/mob/menu-6.webp" alt="" class="img-fluid">
                    </a>
                </div>
              <div class="d-flex align-items-center justify-content-start">
                  <a class="d-flex menu-title p-2" href="#">COOKIES</a>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center justify-content-end">
                  <a class="d-flex menu-title p-2 text-right" href="#">HAZELNUT CREAM OF COCOA</a>
                </div>
                <div class="menu-img">
                    <a href="#">
                        <img src="../web/img/webp/mob/menu-7.webp" alt="" class="img-fluid">
                      </a>
                </div>
              </div>
                <div class="d-flex justify-content-between">
                <div class="menu-img">
                    <a href="#">
                        <img src="../web/img/webp/mob/menu-8.webp" alt="" class="img-fluid">
                      </a>
                  </div>
                <div class="d-flex align-items-center justify-content-start">
                    <a class="d-flex menu-title p-2" href="#">TASTES OF STORES</a>
                  </div>
              </div>
            </div>    
  </div>
</section>

<section class="slider">
  <div class="container">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <!-- <ol class="carousel-indicators">
              <li data-target="#carouselExampleSlidesOnly" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleSlidesOnly" data-slide-to="1"></li>
            </ol> -->
          <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-3">
                    <img src="../web/img/webp/gift-pack-1.webp" alt="Gift Pack" class="img-fluid img-slider">
                  </div>
                  <div class="col-md-9 p-4">
                    <h4 class="slider-title">Chocolate Gift Packs</h4>
                    <p class="slider-para">
                      At Asuman Chocolates, we are always striving to offer you a chocolate that melts tenderly in your mouth and gently caresses all your senses.
                    </p>
                  </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-3">
                      <img src="../web/img/webp/gift-pack-1.webp" alt="Gift Pack" class="img-fluid img-slider">
                    </div>
                    <div class="col-md-9 p-4">
                      <h4 class="slider-title">Chocolate Gift Packs</h4>
                      <p class="slider-para">
                        At Asuman Chocolates, we are always striving to offer you a chocolate that melts tenderly in your mouth and gently caresses all your senses.
                      </p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
  </div>
</section>

<section class="delivery" id="delivery">
  <div class="container">
    <div class="delivery-inner">
      <h3 class="text-center pb-2">ASUMAN DELIVERS</h3>
      <div class="row justify-content-center">
          <div class="col-md-2 mt-3">
                <a href="#"><img src="../web/img/webp/talabat.webp" alt="" class="img-fluid"></a>
          </div>

          <div class="col-md-2 mt-3">
                <a href="#"><img src="../web/img/webp/carriage.webp" class="img-fluid" alt=""></a>
          </div>
          <div class="col-md-2 mt-3">
              
                  <a href=""><img src="../web/img/webp/zomato.webp" class="img-fluid" alt=""></a>
              
            </div>        
      
      </div>
    </div>
  </div>
</section>

<section class="decor">
  <div class="container">
    <div class="decor-inner">
      <div class="row">
        <div class="col-md-6 mt-4">
          <a class="coffee-love text-decoration-none" href="/celebrate">
          <img src="../web/img/webp/celebrate-01.webp" class="img-fluid" alt="">
          <div class="p-3 para">
            <h3>
                Celebrate Your Special Moment’s With Us
            </h3>
            <p>
                We will decorate and arrange a proper celebration for special moment of your life.
            </p>
          </div>
        </a>
        </div>
        <div class="col-md-6 mt-4">
          <a class="coffee-love text-decoration-none" href="/menu/5ed8a1aeed3f4b2f3ba6e721">
          <img src="../web/img/webp/coffee-01.webp" class="img-fluid" alt="">
          <div class="p-3 para">
              <h3 class="text-decoration-none">
                  Coffe Love!
                  <br><br>
              </h3>
              <p class="text-decoration-none">
                  We will decorate and arrange a proper celebration for special moment of your life.
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="app  d-none d-md-block d-lg-block">
  <div class="container">
    <div class="app-inner">
      <div class="row">
        <div class="col-sm-8">
          <h3 class="mt-3 pt-2 pl-3">
              ASUMAN LOYALTY APP <span>
                  COMING SOON
              </span>
          </h3>
          <p class="pl-3">
              Order ahead, skip the wait in the store & redeem points.<br>
              Redeem mobile-only offers and rewards.
          </p>
        </div>
        <div class="col-sm-4">
          <div class="grad pt-3">
              <img src="../web/img/webp/app.webp" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="app  d-md-none dd-lg-none">
    <div class="container">
      <div class="app-inner">
        <div class="row">
          <div class="col pl-4">
            <h3 class="mt-3 pt-2">
                ASUMAN LOYALTY APP </h3>
            <p class="">
                Order ahead, skip the wait in the store & redeem points.<br>
                Redeem mobile-only offers and rewards.
            </p>
            <h3><span>
                COMING SOON
            </span></h3>
          </div>
          <div class="col">
            <div class="pt-3">
                <img src="../web/img/webp/app-mobile.webp" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

<footer class="mb-5 mt-5" id="contact">
  <div class="container">
    <div class="footer-inner">
      <a href="https://goo.gl/maps/EXKHNDPnTY2bDno5A" target="_blank">
        <img style="width: 80%;" class="img-fluid" src="../web/img/webp/map.webp" alt="Asuman Map">
    </a>  
      <img src="../web/img/webp/logo.svg" alt="">
        <p class="m-4 pl-4 pr-4">Villa 505, Jumeriah - 3 - Dubai, U.A.E. <br>
           <a href="tel:+97143414243"> +971 4 341 4243 </a> | <a href="mailto:info@asumanuae.com"> info@asumanuae.com </a>
        </p>
        
        

        <div class="d-flex justify-content-center mt-5 mb-5">
            <div class="p-4"><a href="https://www.facebook.com/asuman.uae" target="_blank" ><img src="../web/img/facebook.svg" alt="facebook"></a></div>
            <div class="p-4"><a href="https://www.instagram.com/asuman.uae/" target="_blank"><img src="../web/img/instagram.svg" alt="instagram"></a></div>
          </div>
      </div>
  </div>
</footer> 




  <!-- Bootstrap core JavaScript -->
  <script src="../web/vendor/jquery/jquery.min.js"></script>
  <script src="../web/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <script>
    //   $(window).on("load", function () {
    //    $(".preloader").delay(200).fadeOut("slow");
    // });
  </script>
</body>

</html>
