<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Table Talk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="HandheldFriendly" content="True">

    <!-- Bootstrap v4.3.1 CSS -->
    <link rel="stylesheet" href="../../../../../../mobile/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../../../../../mobile/normalize.css">
    <link rel="stylesheet" href="../../../../../../mobile/theme.css">
    <link rel="stylesheet" href="../../../../../../mobile/themelibrary.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" type="text/css" href="../../../../../../mobile/slick.css">
    <link rel="stylesheet" type="text/css" href="../../../../../../mobile/slick-theme.css">
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="../../../../../../mobile/magnific-popup.css">
    <!-- Font Awesome Free 5.10.2 JS -->
    <script defer src="../../../../../../mobile/brands.js"></script>
    <script defer src="../../../../../../mobile/solid.js"></script>
    <script defer src="../../../../../../mobile/fontawesome.js"></script>
</head>