<% include includes/header.ejs %>
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <h1 class="font-weight-light"></h1>
        </div>
        </div>
    </div>
</header>
<div class="container product">
        <div class="block">
        <h1 class="mt-5 mb-3" style="text-align:center;font-size: 3em;">About Us</h1>

        <div>
            <img src="../../web/img/asuman-about.jpg" class="img-fluid mt-3">
        </div>
        <div class="mx-auto mt-3">
            <p>Have you ever thought?</p>

            <p>When was the last time you had a huge happiness with a tiny gift ...</p>

            <p>How long has it been for you to ask your neighbor about it, not to go out on the street and talk to the shopkeepers around the corner ...</p>

            <p>We don't have the opportunity to think, but have we not forgotten the conversation, the conversation, the real sharing from the turmoil and hustle and bustle of modern times?</p>

            <p>Here is the Chocolate Shop, where we have lost the sweetest parts of life, the warmest feelings, to add flavor to life.</p>

            <p>In order not to get away from each other ...</p>

            <p>We have to say "Good morning" to our neighbor whom we meet every morning and to show a smiling face to everyone familiar or unfamiliar.</p>

            <p>In order not to forget those small but precious beauties in life, to live and keep them alive ...</p>

            <p>Chocolate Shop is the address of emotions we always miss.</p>

            <p>Regardless of the place of those who do not see a smiling face.</p>

            <p>"Where are those old holidays!" the place of those who say, longing for the old neighborly relations, those who say we should break the waist of two conversations when it comes, and sometimes those who do not pass without saying hello.</p>

            <p>It is a place full of a thousand kinds of sweetness that those who want to taste life open their doors to those who want to taste life.</p>

            <p>Is it possible that such a world?</p>

            <p>Who knows, maybe you will listen to what we have experienced in this shop while drinking a cup of coffee, maybe we will share with you a book as much as we can ...</p>
        </div>
    </div>
        
    </div>
    <div class="product-sub-1"></div>
    <div class="product-sub-2"></div>

<% include includes/footer.ejs %>