<% include includes/header.ejs %>
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <h1 style="font-size:4em; color:white;" class="font-weight-light">The Aitropolis Resaurant</h1>
        </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <!-- 24-7 Press Release Newswire Landing Page Widget Code Starts Here --> <script type="text/javascript" src="https://news.24-7pressrelease.com/247pr-news-widget.js?widgettitle=News Provided by 24-7PressRelease.com&amp;showRelease=1&amp;width=auto&amp;headlinebold=1&amp;headlinesonly=0&amp;headlinecolor=2d57a1&amp;briefcolor=666666&amp;textcolor=333333&amp;typeface=arial&amp;fontsize=11&amp;width=auto&amp;headlinesepstyle=dotted&amp;showimages=1&amp;numstories=20&amp;bgcolor=ffffff&amp;urldest=247pr"></script> <!-- 24-7 Press Release Newswire Landing Page Widget Code Ends Here --> 
        </div>
        
        <div class="col-md-2"></div>
        
        </div>
    </div>

<% include includes/footer.ejs %>