<% include includes/header.ejs %>
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <h1 class="font-weight-light"></h1>
        </div>
        </div>
    </div>
</header>
<div class="container product text-center">
      <img src="/web/img/cooking.png" class="mt-5" width="20%" alt="">
      <h1 style="font-size: 3em;" class="mt-5 pb-5">Your Order is sent to kitchen for preparation.</h1>
    </div>
  
<% include includes/footer.ejs %>

<script>
    
</script>