<!DOCTYPE html>
<html>
    <head>
        <title> Table Talk </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
        <link href="../../touch/css/style.css" rel="stylesheet">
    </head>
    <body>
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
            <div class="back animated fadeIn slower">           
                <div class="tableDisplay">
                    <div class="verticalAlign">
                        <div class="row resetDiv">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <a href="/settings" class="btn btn-primary floatLeft"> 
                                    <i class="fa fa-setting"></i> Settings 
                                </a>
                                <button type="reset" class="btn btn-primary floatRight" id="resetBtn"> 
                                    <i class="fa fa-undo"></i> Reset 
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="rotateText textDiv heightDiv">
                                <div class="w-100 p-3">
                                    <div id="upText1" class="animated slideInRight slower">
                                        <h1> Good Food is a Good Mood </h1>
                                    </div>
                                </div>
                                <div class="w-80 p-3">  
                                    <div class="hide" id="upText2">
                                        <h1> Intrested to know the Secret Ingredient? </h1>
                                    </div> 
                                </div>
                                <div class="hide" id="upTouch">
                                    <div class="ripple">
                                        <div class="text">
                                            <span> TOUCH </span>
                                            <span> TO </span>
                                            <span> INTERACT </span> 
                                        </div>
                                        <div class="image animated pulse faster infinite">
                                            <img src="../../touch/images/hand.png" >
                                        </div>
                                    </div>
                                </div>
                                <div class="hide" id="upTable">
                                    <div class="tableImgUp animated zoomIn slower">
                                        <div id="umenu">
                                            <div class="hide whiteBackgroup textUp animated zoomIn slower" id="textR">
                                                <span> Call for Table Service </span>
                                            </div>
                                            <div class="hide whiteBackgroup text1Up animated zoomIn slower" id="textR1">
                                                <span> Chef'Special </span>
                                            </div>
                                            <div class="hide whiteBackgroup text2Up animated zoomIn slower" id="textR2">
                                                <span> Today's Menu </span>
                                            </div>
                                            <div class="hide whiteBackgroup text3Up animated zoomIn slower" id="textR3">
                                                <span> We know your Taste </span>
                                            </div>
                                            <img src="../../touch/images/tableDown.png" class="animated rotateIn slower">
                                        </div>
                                    </div>
                                    <div id="umenu1" class="hide">
                                        <div class="uchefImg animated zoomIn slower">
                                            <img src="../../touch/images/backText.png" class="animated rotateIn slower" width="100%" >
                                            
                                            <!-- <span class="backText"> BACK </span> -->
                                        </div>
                                        <img src="../../touch/images/menu-ins-up.png" class="umenuImg hide" id="umenuImg">
                                        <img src="../../touch/images/menu-ins.png" class="umenuImg1 hide" id="umenuImg1">
                                        <div class="hide umenuText" id="umenuText">
                                            <%  items.forEach(i => { %>
                                                <div class="row uparent" id="<%- i._id %>">
                                                    <div class="col-md-7">  <%- i.title %> </div>
                                                    <div class="col-md-1"> <i class="fa fa-arrow-right"></i> </div>
                                                </div>
                                             <% }); %>   

                                       </div>
                                    </div>
                                    <div id="umenu2" class="hide">
                                        <div class="animated zoomIn slower">
                                            <img src="../../touch/images/backText.png" class="hide animated rotateIn slower" width="50%" id="uBackImg" >
                                        </div>
                                        <img src="../../touch/images/menu-ins-up.png" class="umenu2Img hide" id="umenu2Img">
                                        <img src="../../touch/images/menu-ins.png" class="umenu2Img1 hide" id="umenu2Img1">
                                        <div class="questionDiv hide" id="questionDiv">
                                            <div>
                                                <h3> What would you like?</h3>
                                            </div>
                                            <div class="optionDiv">
                                                <div class="option1" id="Ques1Opt1">
                                                    <h3> A. Veg </h3>
                                                </div>
                                                <div class="option2" id="Ques1Opt2">
                                                    <h3> B. Non Veg </h3>
                                                </div>
                                            </div>
                                            <div class="optionDiv">
                                                <div class="option1" id="Ques1Opt3">
                                                    <h3> C. Mix </h3>
                                                </div>
                                                <div class="option2" id="Ques1Opt4">
                                                    <h3> D. Fast Food  </h3>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary nextBtn" id="nextBtn"> Next </button>
                                        </div>
                                        <div class="questionDiv hide" id="question1Div">
                                            <div>
                                                <h3> Tell us about you </h3>
                                            </div>
                                            <div class="optionDiv">
                                                <div class="option1" id="Ques2Opt1">
                                                    <h3> A. Dieting </h3>
                                                </div>
                                                <div class="option2" id="Ques2Opt2">
                                                    <h3> B. Cheese </h3>
                                                </div>
                                            </div>
                                            <div class="optionDiv">
                                                <div class="option1" id="Ques2Opt3">
                                                    <h3> C. Simple </h3>
                                                </div>
                                                <div class="option2" id="Ques2Opt4">
                                                    <h3> D. All  </h3>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary nextBtn" id="nextBtn1"> Next </button>
                                        </div>
                                        <div class="questionDiv hide" id="question2Div">
                                            <div>
                                                <h3> Select your favourite starter </h3>
                                            </div>
                                            <div class="optionDiv">
                                                <div class="option1" id="Ques3Opt1">
                                                    <h3> A. Soup </h3>
                                                </div>
                                                <div class="option2" id="Ques3Opt2">
                                                    <h3> B. Noodles </h3>
                                                </div>
                                            </div>
                                            <div class="optionDiv">
                                                <div class="option1" id="Ques3Opt3">
                                                    <h3> C. Salad </h3>
                                                </div>
                                                <div class="option2" id="Ques3Opt4">
                                                    <h3> D. All  </h3>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary nextBtn" id="nextBtn2"> Next </button>
                                        </div>
                                        <div class="questionDiv hide" id="question3Div">
                                            <div>
                                                <h3> Your Selected Options </h3>
                                            </div>
                                            <div class="optionDiv">
                                                <div class="option1" id="Ques4Opt1">
                                                    <h3> Pizza </h3>
                                                </div>
                                                <div class="option2" id="Ques4Opt2">
                                                    <h3> Pepsi </h3>
                                                </div>
                                            </div>
                                            <div class="optionDiv">
                                                <div class="option1" id="Ques4Opt3">
                                                    <h3> Noodles </h3>
                                                </div>
                                            </div>
                                            <button class="btn btn-success nextBtn" id="nextBtn2"> Checkout </button>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        <div class="container">
                            <img src="../../touch/images/line.png" class="img-fluid animated zoomIn slower" >
                        </div>
                        <div class="row">
                            <div class="textDiv heightDiv">
                                <div class="w-100 p-3">
                                    <div id="downText1" class="animated slideInRight slower">
                                        <h1> What to know what's special today? </h1>
                                    </div>
                                </div>
                                <div class="w-100 p-3">
                                    <div class="hide" id="downText2">
                                        <h1> Our aim is to offer Simple, Fresh, Good Food. </h1>
                                    </div>
                                </div>
                                <div class="hide" id="downTouch">
                                    <div class="ripple" style="width: 23% !important;">
                                        <div class="text">
                                            <span> TOUCH </span>
                                            <span> TO </span>
                                            <span> INTERACT </span> 
                                        </div>
                                        <div class="image animated pulse faster infinite">
                                            <img src="../../touch/images/hand.png" >
                                        </div>
                                    </div>
                                </div> 
                                <div class="hide" id="downTable">
                                    <div class="tableImgDown animated zoomIn slower">
                                        <div id="menu">
                                            <div class="hide whiteBackgroup text animated zoomIn slower" id="text">
                                                <span> Call for Table Service </span>
                                            </div>
                                            <div class="hide whiteBackgroup text1 animated zoomIn slower" id="text1">
                                                <span> Chef'Special </span>
                                            </div>
                                            <div class="hide whiteBackgroup text2 animated zoomIn slower" id="text2">
                                                <span> Today's Menu </span>
                                            </div>
                                            <div class="hide whiteBackgroup text3 animated zoomIn slower" id="text3">
                                                <span> We know your Taste </span>
                                            </div>
                                            <img src="../../touch/images/tableDown.png" class="animated rotateIn slower">
                                        </div>
                                        <div id="menu1" class="hide">
                                            <div class="animated zoomIn slower">
                                                <img src="../../touch/images/backText.png" class="chefImg animated rotateIn slower" >
                                                
                                                <!-- <span class="backText"> BACK </span> -->
                                            </div>
                                            <img src="../../touch/images/menu-ins-up.png" class="menuImg hide" id="menuImg">
                                            <img src="../../touch/images/menu-ins.png" class="menuImg1 hide" id="menuImg1">
                                                <div class="hide menuText" id="menuText">
                                                <%  items.forEach(i => { %>
                                                    <div class="row parent" id="<%- i._id %>">
                                                        <div class="col-md-7">  <%- i.title %> </div>
                                                        <div class="col-md-1"> <i class="fa fa-arrow-right"></i> </div>
                                                    </div>
                                                <% }); %>

                                                </div>
                                            
                                        </div>
                                        <div id="menu2" class="hide">
                                            <div class="animated zoomIn slower">
                                                <img src="../../touch/images/backText.png" class="hide animated rotateIn slower" width="50%" id="backImgDown" >
                                            </div>
                                            <img src="../../touch/images/menu-ins-up.png" class="menu2Img hide" id="menu2Img">
                                            <img src="../../touch/images/menu-ins.png" class="menu2Img1 hide" id="menu2Img1">
                                            <div class="questionDivDown hide" id="questionDivDown">
                                                <div>
                                                    <h3> Select your favourite dish </h3>
                                                </div>
                                                <div class="optionDiv">
                                                    <div class="option1" id="Ques1Opt1Down">
                                                        <h3> A. Pasta </h3>
                                                    </div>
                                                    <div class="option2" id="Ques1Opt2Down">
                                                        <h3> B. Pizza</h3>
                                                    </div>
                                                </div>
                                                <div class="optionDiv">
                                                    <div class="option1" id="Ques1Opt3Down">
                                                        <h3> C. Burger </h3>
                                                    </div>
                                                    <div class="option2" id="Ques1Opt4Down">
                                                        <h3> D. All  </h3>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary nextBtn" id="nextBtnDown"> Next </button>
                                            </div>
                                            <div class="questionDivDown hide" id="question1DivDown">
                                                <div>
                                                    <h3> Select your favourite drink </h3>
                                                </div>
                                                <div class="optionDiv">
                                                    <div class="option1" id="Ques2Opt1Down">
                                                        <h3> A. Cola </h3>
                                                    </div>
                                                    <div class="option2" id="Ques2Opt2Down">
                                                        <h3> B. Pepsi </h3>
                                                    </div>
                                                </div>
                                                <div class="optionDiv">
                                                    <div class="option1" id="Ques2Opt3Down">
                                                        <h3> C. Fanta </h3>
                                                    </div>
                                                    <div class="option2" id="Ques2Opt4Down">
                                                        <h3> D. All  </h3>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary nextBtn" id="nextBtn1Down"> Next </button>
                                            </div>
                                            <div class="questionDivDown hide" id="question2DivDown">
                                                <div>
                                                    <h3> Select your favourite starter </h3>
                                                </div>
                                                <div class="optionDiv">
                                                    <div class="option1" id="Ques3Opt1Down">
                                                        <h3> A. Soup </h3>
                                                    </div>
                                                    <div class="option2" id="Ques3Opt2Down">
                                                        <h3> B. Noodles </h3>
                                                    </div>
                                                </div>
                                                <div class="optionDiv">
                                                    <div class="option1" id="Ques3Opt3Down">
                                                        <h3> C. Salad </h3>
                                                    </div>
                                                    <div class="option2" id="Ques3Opt4Down">
                                                        <h3> D. All  </h3>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary nextBtn" id="nextBtn2Down"> Next </button>
                                            </div>
                                            <div class="questionDivDown hide" id="question3DivDown">
                                                <div>
                                                    <h3> Your Selected Options </h3>
                                                </div>
                                                <div class="optionDiv">
                                                    <div class="option1" id="Ques4Opt1">
                                                        <h3> Pizza </h3>
                                                    </div>
                                                    <div class="option2" id="Ques4Opt2">
                                                        <h3> Pepsi </h3>
                                                    </div>
                                                </div>
                                                <div class="optionDiv">
                                                    <div class="option1" id="Ques4Opt3">
                                                        <h3> Noodles </h3>
                                                    </div>
                                                </div>
                                                <button class="btn btn-success nextBtn" id="nextBtn2"> Checkout </button>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </div>
    
    <div class="sidebar">
        <div class="sidebar-icon">
            <a style="top: 120px;" href="/ordersInKitchen">
                <i class="fa fa-utensil-spoon my-float"></i>
            </a>
        </div>
        <div class="sidebar-icon">
            <a href="/cart">
                <i class="fa fa-shopping-basket my-float"></i>
                </a>
            </div>        
        <div class="sidebar-icon">
            <a href="/games">
                <i class="fa fa-play my-float"></i>
                </a>
            </div>        
        <div class="sidebar-icon">
            <a href="/news">
                <i class="fa fa-newspaper my-float"></i>
                </a>
            </div>        
    </div>

	</body>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <script type="text/javascript">
        $('#resetBtn').click(() => {
            location.reload();
            return false;
        })
        setTimeout(() => {
            $('#upText1').removeClass('slideInRight');
            $('#upText1').addClass('fadeOutLeft slower');
        }, 2000)
        setTimeout(() => {
            $('#upText2').removeClass('hide');
            $('#upText2').addClass('animated slideInLeft slower');
        }, 4000)
        setTimeout(() => {
            $('#downText1').removeClass('slideInRight');
            $('#downText1').addClass('fadeOutRight slower');
        }, 4500)
        setTimeout(() => {
            $('#downText2').removeClass('hide');
            $('#downText2').addClass('animated slideInLeft slower');
        }, 6500)
        setTimeout(() => {
            $('#downText2').removeClass('animated slideInLeft slower');
            $('#downText2').addClass('animated fadeOutRight slower');
        }, 9500)
        setTimeout(() => {
            $('#downTouch').removeClass('hide');
            $('#downTouch').addClass('animated zoomIn slower')
        }, 11200)
        setTimeout(() => {
            $('#upText2').removeClass('animated slideInLeft slower');
            $('#upText2').addClass('animated fadeOutRight slower');
        }, 11500)
       
        setTimeout(() => {
            $('#upTouch').removeClass('hide');
            $('#upTouch').addClass('animated zoomIn slower')
        }, 13300)
        $('#downTouch').click(() => {
            $('#downTouch').addClass('hide');
             $('#downTable').removeClass('hide');
            setTimeout(() => {
                $('#text').removeClass('hide');
            }, 1000)
            setTimeout(() => {
                $('#text1').removeClass('hide');
            }, 1500)
            setTimeout(() => {
                $('#text2').removeClass('hide');
            }, 2000)
            setTimeout(() => {
                $('#text3').removeClass('hide');
            }, 2500)
        })
        $('#upTouch').click(() => {
            $('#upTouch').addClass('hide');
            $('#upTable').removeClass('hide');
            setTimeout(() => {
                $('#textR').removeClass('hide');
            }, 1000)
            setTimeout(() => {
                $('#textR1').removeClass('hide');
            }, 2000)
            setTimeout(() => {
                $('#textR2').removeClass('hide');
            }, 2000)
            setTimeout(() => {
                $('#textR3').removeClass('hide');
            }, 2500)
        })

        $('.chefImg').click(() => {
            $('#menu1').addClass('hide')
            $('#menu').removeClass('hide')
            $('.chefImg').addClass('hide');
            $('.chefImg').removeClass('hide');

            setTimeout(() => {
                $('#menuImg').addClass('hide')
                $('#menuImg1').addClass('hide')
                $('#menuText').addClass('hide')
            }, 1500)

            setTimeout(() => {
                $('#text').removeClass('hide');
            }, 1000)
            setTimeout(() => {
                $('#text1').removeClass('hide');
            }, 1500)
            setTimeout(() => {
                $('#text2').removeClass('hide');
            }, 2000)
            setTimeout(() => {
                $('#text3').removeClass('hide');
            }, 2500)
        })

        $('.uchefImg').click(() => {
            $('#umenu1').addClass('hide')
            $('#umenu').removeClass('hide')
            $('.uchefImg').addClass('hide');
            $('.uchefImg').removeClass('hide');

            setTimeout(() => {
                $('#umenuImg').addClass('hide')
                $('#umenuImg1').addClass('hide')
                $('#umenuText').addClass('hide')
            }, 1500)

            setTimeout(() => {
                $('#text').removeClass('hide');
            }, 1000)
            setTimeout(() => {
                $('#text1').removeClass('hide');
            }, 1500)
            setTimeout(() => {
                $('#text2').removeClass('hide');
            }, 2000)
            setTimeout(() => {
                $('#text3').removeClass('hide');
            }, 2500)
        })

        $('#text1').click(() => {
            $('#menu').addClass('hide')
            $('#menu1').removeClass('hide')
            setTimeout(() => {
                $('#menuImg').removeClass('hide')
                $('#menuImg').addClass('animated zoomIn slower')
                $('#menuText').removeClass('hide')
                $('#menuText').addClass('animated fadeInUp slower')
            }, 1500)
            setTimeout(() => {
                $('#menuImg1').removeClass('hide')
                $('#menuImg1').addClass('animated zoomIn slower')
            }, 2500)
        })

        $('#text2').click(() => {
            $('#menu').addClass('hide')
            $('#menu1').removeClass('hide')
            setTimeout(() => {
                $('#menuImg').removeClass('hide')
                $('#menuImg').addClass('animated fadeIn slower')
                $('#menuText').removeClass('hide')
                $('#menuText').addClass('animated fadeInLeft slower')
            }, 1500)
        })

        $('#textR1').click(() => {
            $('#umenu').addClass('hide')
            $('#umenu1').removeClass('hide')
            setTimeout(() => {
                $('#umenuImg').removeClass('hide')
                $('#umenuImg').addClass('animated zoomIn slower')
                $('#umenuText').removeClass('hide')
                $('#umenuText').addClass('animated fadeInUp slower')
            }, 1500)
            setTimeout(() => {
                $('#umenuImg1').removeClass('hide')
                $('#umenuImg1').addClass('animated zoomIn slower')
            }, 2500)
        });

        $('#textR2').click(() => {
       
            $('#umenu').addClass('hide')
            $('#umenu1').removeClass('hide')
            setTimeout(() => {
                $('#umenuImg').removeClass('hide')
                $('#umenuImg').addClass('animated fadeIn slower')
                $('#umenuText').removeClass('hide')
                $('#umenuText').addClass('animated fadeInLeft slower')
            }, 1500)
        });

        $('#textR3').click(() => {
            $('#umenu').addClass('hide');
            $('#umenu2').removeClass('hide');
            $('#uBackImg').removeClass('hide');
            setTimeout(() => {
                $('#umenu2Img').removeClass('hide')
                $('#umenu2Img').addClass('animated zoomIn slower')
            }, 1500)
            setTimeout(() => {
                $('#umenu2Img1').removeClass('hide')
                $('#umenu2Img1').addClass('animated zoomIn slower');
            }, 2000)
            setTimeout(() => {
                $('#questionDiv').removeClass('hide');
                $('#questionDiv').addClass('animated fadeInUp slower');
            }, 3500)
        })

        $('#uBackImg').click(() => {
            $('#umenu2').addClass('hide');
            $('#umenu').removeClass('hide');
            $('#questionDiv').addClass('hide');
            $('#question1Div').addClass('hide');
            $('#question2Div').addClass('hide');
            $('#question3Div').addClass('hide');
        })

        $('#backImgDown').click(() => {
            $('#menu2').addClass('hide');
            $('#menu').removeClass('hide');
        })

        $('#text3').click(() => {
            $('#menu').addClass('hide');
            $('#menu2').removeClass('hide');
            $('#backImgDown').removeClass('hide');
            setTimeout(() => {
                $('#menu2Img').removeClass('hide')
                $('#menu2Img').addClass('animated zoomIn slower')
            }, 1500)
            setTimeout(() => {
                $('#menu2Img1').removeClass('hide')
                $('#menu2Img1').addClass('animated zoomIn slower');
            }, 2000)
            setTimeout(() => {
                $('#questionDivDown').removeClass('hide');
                $('#questionDivDown').addClass('animated fadeInUp slower');
            }, 3500)
        })

        $('#Ques1Opt1').click(() => {
            $('#Ques1Opt1').addClass('activeOpt')
        })

        $('#Ques1Opt2').click(() => {
            $('#Ques1Opt2').addClass('activeOpt')
        })

        $('#Ques1Opt3').click(() => {
            $('#Ques1Opt3').addClass('activeOpt')
        })

        $('#Ques1Opt4').click(() => {
            $('#Ques1Opt4').addClass('activeOpt')
        })

        $('#Ques1Opt1Down').click(() => {
            $('#Ques1Opt1Down').addClass('activeOpt')
        })

        $('#Ques1Opt2Down').click(() => {
            $('#Ques1Opt2Down').addClass('activeOpt')
        })

        $('#Ques1Opt3Down').click(() => {
            $('#Ques1Opt3Down').addClass('activeOpt')
        })

        $('#Ques1Opt4Down').click(() => {
            $('#Ques1Opt4Down').addClass('activeOpt')
        })

        $('#Ques2Opt1').click(() => {
            $('#Ques2Opt1').addClass('activeOpt')
        })
        
        $('#Ques2Opt2').click(() => {
            $('#Ques2Opt2').addClass('activeOpt')
        })

        $('#Ques2Opt3').click(() => {
            $('#Ques2Opt3').addClass('activeOpt')
        })

        $('#Ques2Opt4').click(() => {
            $('#Ques2Opt4').addClass('activeOpt')
        })

        $('#Ques2Opt1Down').click(() => {
            $('#Ques2Opt1Down').addClass('activeOpt')
        })
        
        $('#Ques2Opt2Down').click(() => {
            $('#Ques2Opt2Down').addClass('activeOpt')
        })

        $('#Ques2Opt3Down').click(() => {
            $('#Ques2Opt3Down').addClass('activeOpt')
        })

        $('#Ques2Opt4Down').click(() => {
            $('#Ques2Opt4Down').addClass('activeOpt')
        })

        $('#Ques3Opt1').click(() => {
            $('#Ques3Opt1').addClass('activeOpt')
        })

        $('#Ques3Opt2').click(() => {
            $('#Ques3Opt2').addClass('activeOpt')
        })

        $('#Ques3Opt3').click(() => {
            $('#Ques3Opt3').addClass('activeOpt')
        })

        $('#Ques3Opt4').click(() => {
            $('#Ques3Opt4').addClass('activeOpt')
        })

        $('#Ques3Opt1Down').click(() => {
            $('#Ques3Opt1Down').addClass('activeOpt')
        })

        $('#Ques3Opt2Down').click(() => {
            $('#Ques3Opt2Down').addClass('activeOpt')
        })

        $('#Ques3Opt3Down').click(() => {
            $('#Ques3Opt3Down').addClass('activeOpt')
        })

        $('#Ques3Opt4Down').click(() => {
            $('#Ques3Opt4Down').addClass('activeOpt')
        })

        $('#Ques4Opt1').click(() => {
            $('#Ques4Opt1').addClass('activeOpt')
        })

        $('#Ques4Opt2').click(() => {
            $('#Ques4Opt2').addClass('activeOpt')
        })

        $('#Ques4Opt3').click(() => {
            $('#Ques4Opt3').addClass('activeOpt')
        })

        $('#nextBtn').click(() =>{
            $('#questionDiv').addClass('hide');
            $('#question1Div').removeClass('hide');
            $('#question1Div').addClass('animated fadeInUp slower');
        });

        $('#nextBtnDown').click(() =>{
            $('#questionDivDown').addClass('hide');
            $('#question1DivDown').removeClass('hide');
            $('#question1DivDown').addClass('animated fadeInUp slower');
        });

        $('#nextBtn1').click(() =>{
            $('#question1Div').addClass('hide');
            $('#question2Div').removeClass('hide');
            $('#question2Div').addClass('animated fadeInUp slower');
        });

        $('#nextBtn1Down').click(() =>{
            $('#question1DivDown').addClass('hide');
            $('#question2DivDown').removeClass('hide');
            $('#question2DivDown').addClass('animated fadeInUp slower');
        });

        $('#nextBtn2').click(() =>{
            $('#question2Div').addClass('hide');
            $('#question3Div').removeClass('hide');
            $('#question3Div').addClass('animated fadeInUp slower');
        });

        $('#nextBtn2Down').click(() =>{
            $('#question2DivDown').addClass('hide');
            $('#question3DivDown').removeClass('hide');
            $('#question3DivDown').addClass('animated fadeInUp slower');
        });


        $(".parent").click(function(){
             p_id = $(this).attr('id')

             $.post("/get_items",{
                        parent:p_id
                    },
                    function(_data, status){
                        console.log(_data , "\nStatus: " + status);
                             target = $('#menuText');
                             $(target).empty();
                             var string = [];
                             //var string2 = '';
                             //var image_src = '';
                       
                        if (_data.items.length > 0 ) {
                            if(typeof(_data.items) != "undefined"){
                                        _data.items.forEach(element => {    
                                            console.log(element);
                                            $('<div id="/uploads/'+element.web_img[0]+ '" class="row act">'+
                                                '<div class="col-md-2"><img src="/uploads/'+element.web_img[0]+ '" class="img-fluid itemImg"></div>'+
                                                    '<div class="col-md-6">' +element.item+ '</div>'+
                                                    '<div class="col-md-4 addToCart" id="' +element._id+ '"> <i class="fa fa-shopping-basket"><span></span></i></div></div>').appendTo(target);

                                                    //string.push('src="../../uploads/'+element.web_img[0]+ '">');
                                                   
                                        });

                                       // console.log('string' , string);
    
                                        $('<div class="row">'+
                                           '<div class="img-fluid itemImg"><img id="elementImage2" src="../../touch/images/break.jpg" class="menuBreakImgDown"> </div>'+
                                           '</div>'+
                                           '<div class="row">'+
                                           '<div class="addToCartButtonDown"> Add To Cart </div>'+
                                           '</div>'
                                        ).appendTo(target);

                                        // $( "#act" ).click(function() {
                                        // var elem = document.createElement("div");
                                        // elem.innerHTML = string;
                                        // var images = elem.getElementsByTagName("img");
                                        // console.log('images' , images);
                                        // for (var i = 0; i < images.length; i++) {
                                        //     //console.log(images[i].src);
                                        //     $("#elementImage2").attr("src" , images[i].src);
                                        //     //console.log('check' , check);
                                        // }
                                        // })

                                        
                                    }
                            }
                    });
            
        })

        $("#menuText").on('click','.act',function() {

            var myDiv = $(this).attr('id');
            //console.log(myDiv);
            $("#elementImage2").attr("src" , myDiv);
          
        })

        $(".uparent").click(function(){
             p_id = $(this).attr('id')

             $.post("/get_items",{
                        parent:p_id
                    },
                    function(_data, status){
                        console.log(_data , "\nStatus: " + status);
                             target = $('#umenuText');
                             $(target).empty();
                       
                        if (_data.items.length > 0 ) {
                            if(typeof(_data.items) != "undefined"){
                                        _data.items.forEach(element => {    
                                            console.log(element);
                                            $('<div id="/uploads/'+element.web_img[0]+ '" class="row uact">'+
                                                '<div class="col-md-2"><img src="../../uploads/'+element.web_img[0]+ '" class="img-fluid itemImg"></div>'+
                                                    '<div class="col-md-6">' +element.item+ '</div>'+
                                                    '<div class="col-md-4 addToCart" id="u' +element._id+ '"> <i class="fa fa-shopping-basket"><span></span></i></div></div>').appendTo(target);
                                                

                                        });
                                        $('<div class="row">'+
                                           '<div class="img-fluid itemImg"> <img id="uelementImage2" src="../../touch/images/break.jpg" class="menuBreakImg"> </div>'+
                                           '</div>'+
                                           '<div class="row">'+
                                           '<div class="addToCartButton"> Add To Cart </div>'+
                                           '</div>'
                                        ).appendTo(target);
                                    }
                            }
                    });
            
        })

        $("#umenuText").on('click', '.uact', function () {

                var myDiv = $(this).attr('id');
                console.log(myDiv);
                $("#uelementImage2").attr("src", myDiv);

            })

        $("#menuText").on('click','.addToCart',function () {
            
            var item_id = $(this).attr('id');
            request = $.ajax({
                    url: "/add_to_cart",
                    type: "post",
                    data: { item: item_id, qty: 1 }
                });

                // Callback handler that will be called on success
                request.done(function (response, textStatus, jqXHR){
                    // Log a message to the console
                    $('#'+item_id).html('<span style="font-size:10px">Cart Updated!</span>');
                    setTimeout(() => {
                        $('#'+item_id).html('');
                        $('#'+item_id).html('<i class="animated fadeIn slower fa fa-shopping-basket"><span></span></i>');
               
            }, 2000)   
                });

                // Callback handler that will be called on failure
                request.fail(function (jqXHR, textStatus, errorThrown){
                    // Log the error to the console
                    console.error(
                        "The following error occurred: "+
                        textStatus, errorThrown
                    );
                });    
   
        })

        $("#umenuText").on('click','.addToCart',function () {
            
            var item_id = $(this).attr('id');
          
            var item_id = item_id.substring(1);
        

            request = $.ajax({
                    url: "/add_to_cart",
                    type: "post",
                    data: { item: item_id, qty: 1 }
                });

                // Callback handler that will be called on success
                request.done(function (response, textStatus, jqXHR){
                    // Log a message to the console
                    $('#u'+item_id).html('<span style="font-size:10px">Cart Updated!</span>');
                    setTimeout(() => {
                        $('#u'+item_id).html('');
                        $('#u'+item_id).html('<i class="animated fadeIn slower fa fa-shopping-basket"><span></span></i>');
               
            }, 2000)   
                });

                // Callback handler that will be called on failure
                request.fail(function (jqXHR, textStatus, errorThrown){
                    // Log the error to the console
                    console.error(
                        "The following error occurred: "+
                        textStatus, errorThrown
                    );
                });    
   
        })
    </script>
</html>