<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Atropolis</title>
  <link rel="icon" type="image/png" href="../../web/img/favicon.ico"/>
  <!-- Bootstrap core CSS -->
  <link href="../../web/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
  <!-- Custom styles for this template -->
  <link href="../../web/css/style.css" rel="stylesheet">
  <link href="../../web/css/pages.css" rel="stylesheet">
  <link href="../../web/css/animate.css" rel="stylesheet">
  
  <link rel="stylesheet"  href="../../web/slider/css/lightslider.css"/>

  

</head>

<body>
    <a href="/cart" class="float">
        <i class="fa fa-shopping-basket my-float"></i>
        </a>
        <a href="/" class="float-left">
            <i class="fa fa-home my-float"></i>
            </a>
        <a style="top: 120px;" href="/ordersInKitchen" class="float">
            <i class="fa fa-utensil-spoon my-float"></i>
            </a>
    <nav class="navbar navbar-expand-lg navbar-light nav-grad fixed-top w-100">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarCollapse">
            
            </div>
        </div>
    </nav>
    
    
