body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
.sidebar{
    height: 500px;
    width: 120px;
    
    position: absolute;
    top: 15%;
    right: 0;
}
.sidebar-icon{
    text-align: center;
    margin: 20px 0;
    border: 1px solid white;
    padding: 20px;
}
.sidebar .sidebar-icon .fa{
    color: white;
    font-size: 60px;
}
.hide {
    display: none;
}
.row {
    width: 100%;
}
.back {
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
	width: 105%;
}
.back h1 {
    color: #fff;
    padding-top: 5%;
}
.fade {
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
}
.img-fluid{
    max-width: 80%;
}
.touchImgUp{
    position: absolute;
    top: 20%;
    left: 0%;
    width: 55%;
}
.touchImgDown{
    position: absolute;
    top: 55%;
    left: 35%;
    width: 22%;
}
.tableImgUp{
    position: absolute;
    top: 8%;
    left: 28%;
    width: 52%;
}
.tableImgUp img {
    width: 100%;
}
.tableImgDown{
    position: absolute;
    top: 55%;
    left: 38%;
    width: 22%;
}
.tableImgDown img {
    width: 100%;
}
.back .row {
    width: 100%;
}
.back .row .textDiv {
    margin: 0 auto;
}
.menuBreakImg {
    width: 50% !important;
    margin-left: 20%;
    margin-top: 5%;
}
.menuBreakImgDown {
    width: 60% !important;
    margin-left: 20%;
    margin-top: 5%;
}
.addToCartButton{
    padding: 2px;
    border: 2px solid #ffffff6b;
    border-radius: 10px;
    font-size: 2em !important;
    color: white;
    text-align: center !important;
    cursor: pointer;
    height: 45px;
    margin-top: 10%;
    width: 55%;
    margin-left: 5%;
}
.addToCartButtonDown {
    padding: 2px;
    border: 2px solid #ffffff6b;
    border-radius: 10px;
    font-size: 2em !important;
    color: white;
    text-align: center !important;
    cursor: pointer;
    height: 45px;
    margin-top: 10%;
    width: 75%;
    margin-left: 5%;
}
.rotateText {
    transform: rotate(180deg);
}
.rotateDiv {
    transform: rotate(180deg);
}
.tableDisplay {
    display: table;
    width: 80%;
    height: 100%;
    margin-left: 10%;
}
.verticalAlign {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.heightDiv{
    height: 30vh;
}
.whiteBackgroup{
    background-color: white;
    border-radius: 5px;
    padding: 5px 30px;
    color: #060840;
    font-weight: 600;
    font-size: 25px;
    z-index: 999;
    box-shadow: 0px 18px 35px rgba(0,0,0,0.40);
}
.text {
    position: absolute;
    top: 15%;
    width: 82%;
    right: 73%;
}
.textUp {
    position: absolute;
    top: 15%;
    width: 82%;
    right: 76%;
}
.text1{
    position: absolute;
    left: 70%;
    top: 15%;
}
.text1Up{
    position: absolute;
    left: 72%;
    top: 15%;
}
.text2{
    position: absolute;
    left: 80%;
    top: 43%;
    width: 58%;
}
.text2Up{
    position: absolute;
    left: 80%;
    top: 43%;
    width: 58%;
}
.text3{
    position: absolute;
    left: 73%;
    top: 69%;
    width: 78%;
}
.text3Up{
    position: absolute;
    left: 73%;
    top: 69%;
    width: 78%;
}
.ripple {
    margin: auto;
    background-color: #fff;
    width: 25%;
    height: 19vh;
    border-radius: 50%;
    position: relative;
    animation: ripple 1s linear infinite;
}
.ripple .text {
    width: 50%;
    position: relative;
    top: 9%;
    margin: 0 auto;
    left: 0%;
}

.ripple .image {
    width: 55%;
    position: relative;
    left: 46%;
    top: 12%;
}

.ripple .image img {
    width: 100%;
}

.ripple .text span {
    color: #1a0d43;
    font-weight: 700;
    font-size: 1.25rem;
    display: block;
    line-height: 1.3rem;
}

.ripple::before,
.ripple::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    animation: ripple 1s linear infinite 1s
}

.ripple::after {
    animation: ripple 1s linear infinite 2s
}

.chefImg{
    width: 90% !important;
    position: absolute;
    right: 55%;
    z-index: 999;
}

.uchefImg{
    width: 50% !important;
    position: absolute;
    right: 54%;
    z-index: 999;
    top: 12%;
}

.menuImg{
    position: absolute;
    right: 0%;
    left: 15%;
    z-index: -1;
}
.menuImg1{
    position: absolute;
    right: 0%;
    left: 35%;
    z-index: -11;
}
.umenuImg{
    position: absolute;
    right: 0%;
    left: 30%;
    z-index: -1;
    width: 50%;
    top: 0%;
}

.umenuImg1{
    position: absolute;
    left: 40%;
    z-index: -11;
    width: 50%;
    top: 0%;
}


.itemImg{
    border-radius: 5px;
}

.menuText {
    position: absolute;
    left: 40%;
    top: 45%;
    height: 30vh;
    width: 75%;
    padding-top: 20%;
}
.menuText div {
    color: #fff;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 2.3rem;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
}

.umenuText {
    position: absolute;
    left: 42%;
    top: -25%;
    height: 30vh;
    width: 45%;
    padding-top: 20%;
}

.umenuText div {
    color: #fff;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 2.3rem;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
}

.leftText {
    text-align: left;
}
.rightText {
    text-align: right;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 .5rem rgba(255, 255, 255, 0.2)
    }

    100% {
        box-shadow: 0 0 0 5rem rgba(255, 255, 255, 0)
    }
}